[color]
	#diff = auto
	ui = true

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

#[user]
#	name = Prayag Upd
#	email = prayag.upd@gmail.com



[diff]
	external = git_diff_wrapper


[pager]
	diff =



[core]
	filemode = false


[alias]
	s=status
        # Show table like compact log
	l="!git log --graph --pretty='tformat:%C(yellow)%h{%C(green)%ar{%C(bold blue)%an{%C(red)%d%C(reset) %s' $* | column -t -s '{' | less -FXRS"
	# log commits showing changed files
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        ra = log --graph --abbrev-commit --date=relative -20 --all --pretty='format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
        #
	lp  = log --pretty=format:'%h %ad %s (%an)' --date=short
	ld  = git log --graph --all --decorate
        lpd = log --graph --all --decorate --pretty=format:'%h %ad %s (%an)' --date=short
	out = log --pretty=oneline --abbrev-commit --graph ..@{u}
	in = !git fetch && git log --pretty=oneline --abbrev-commit --graph @{u}..
	incoming=fetch && git log ..origin/develop --stat
	#commiterStats=log --format="%cn" | sort | uniq -c
	mycommits=log --author="PrayagUpd" --stat
	############ cleaning ############################
	cleanUntrackedAllCheck=clean -n -d
	cleanUntrackedAll=clean -f -d
	cleanUntrackedFiles=clean -n
	cleanUntrackedFiles=clean -f

        pushMaster=push origin master -v
        pushDev=push origin develop -v
